<div class="main-page" ng-init="main.fnInitMain();"> <div class="header"> <div class="navbar navbar-inverse navbar-fixed-top" role="navigation"> <div class="container"> <div class="navbar-header"> <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">--> <!--<span class="sr-only">Toggle navigation</span>--> <!--<span class="icon-bar"></span>--> <!--<span class="icon-bar"></span>--> <!--<span class="icon-bar"></span>--> <!--</button>--> <a class="navbar-brand" ui-sref="main.home">Fiji Football</a> </div> <!--<div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li ui-sref-active="active" title="home">
                            <a class="hidden-xs" ui-sref="main.home">
                                <span class="glyphicon glyphicon-home" style="line-height: 0px"
                                      aria-hidden="true"></span>
                            </a>
                            <a class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse" ui-sref="main.home">
                                <span class="glyphicon glyphicon-home" style="line-height: 0px"
                                      aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>
                            <a class="hidden-xs" ui-sref="main.scores">Scores</a>
                            <a class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse" ui-sref="main.scores">Scores</a>
                        </li>
                        <li>
                            <a class="hidden-xs" ui-sref="main.support">Support</a>
                            <a class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse" ui-sref="main.support">Support</a>
                        </li>
                        <li>
                            <a class="hidden-xs" ui-sref="main.schedule">Schedule</a>
                            <a class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse" ui-sref="main.schedule">Schedule</a>
                        </li>

                        <li ng-hide-auth>
                            <a class="hidden-xs" ui-sref="main.subscriptionPack">Subscribe</a>
                            <a class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse" ui-sref="main.subscriptionPack">Subscribe</a>
                        </li>
                        <li ng-hide-auth>
                            <a class="hidden-xs" ui-sref="main.signIn">Sign In</a>
                            <a class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse" ui-sref="main.signIn">Sign In</a>
                        </li>
                        <li ng-hide-auth>
                            <a class="hidden-xs" ui-sref="main.signUp">Sign Up</a>
                            <a class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse" ui-sref="main.signUp">Sign Up</a>
                        </li>

                        <li ng-show-auth ng-if="main.isPaid">
                            <a class="hidden-xs" ui-sref="main.watchIdc">Watch Live</a>
                            <a class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse" ui-sref="main.watchIdc">Watch Live</a>
                        </li>
                        <li ng-show-auth ng-if="main.isPaid">
                            <a class="hidden-xs" ui-sref="main.watchRecorded">Recorded Games</a>
                            <a class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse" ui-sref="main.watchRecorded">Recorded Games</a>
                        </li>
                        <li ng-show-auth ng-if="!main.isPaid">
                            <a class="hidden-xs" ui-sref="main.subscriptionPack">Subscribe</a>
                            <a class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse" ui-sref="main.subscriptionPack">Subscribe</a>
                        </li>

                        <li ui-sref-active="active" class="dropdown" uib-dropdown ng-show-auth>
                            <a href="javascript:void(0);" class="dropdown-toggle" uib-dropdown-toggle>
                                 <span
                                     ng-bind="main.currentAuth.displayName ? main.currentAuth.displayName : main.currentAuth.email.substring(0, main.currentAuth.email.lastIndexOf('@'))"></span>
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu" uib-dropdown-menu>
                                <li ng-if="main.isPaid">
                                    <a class="hidden-xs" ui-sref="main.watchIdc">Watch Live</a>
                                    <a class="visible-xs" ng-if="main.isPaid" data-toggle="collapse" data-target=".navbar-collapse" ui-sref="main.watchIdc">Watch Live</a>
                                </li>

                                <li ng-if="main.isPaid">
                                    <a class="hidden-xs" ng-if="main.isPaid" ui-sref="main.watchRecorded">Recorded Games</a>
                                    <a class="visible-xs" ng-if="main.isPaid" data-toggle="collapse" data-target=".navbar-collapse" ui-sref="main.watchRecorded">Recorded Games</a>
                                </li>

                                <li ng-if="!main.isPaid">
                                    <a class="hidden-xs" ng-if="!main.isPaid" ui-sref="main.subscriptionPack">Subscribe</a>
                                    <a class="visible-xs" ng-if="!main.isPaid" data-toggle="collapse" data-target=".navbar-collapse" ui-sref="main.subscriptionPack">Subscribe</a>
                                </li>



                                <li>
                                    <a class="hidden-xs" ui-sref="main.profile">Profile</a>
                                    <a class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse" ui-sref="main.profile">Profile</a>
                                </li>
                                <li>
                                    <a class="hidden-xs" ui-sref="main.changePassword">Change Password</a>
                                    <a class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse" ui-sref="main.changePassword">Change Password</a>
                                </li>
                                <li>
                                    <a class="hidden-xs" href="javascript:void(0);" ng-click="main.fnSignOut()">Sign Out</a>
                                    <a class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse" href="javascript:void(0);" ng-click="main.fnSignOut()">Sign Out</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>--><!--/.nav-collapse --> </div> </div> </div> <div ui-view></div> </div> <!--<div class="container-fluid footer">--> <!--<div class="col-sm-2">--> <!--<h4>Quick Links</h4>--> <!--<ul>--> <!--<li><a ui-sref="main.home">Home</a></li>--> <!--<li><a ui-sref="main.watchIdc">Live Stream</a></li>--> <!--<li><a ui-sref="main.watchRecorded">Recordings</a></li>--> <!--<li><a ui-sref="main.support">Support</a></li>--> <!--<li><a ui-sref="main.schedule">Schedule</a></li>--> <!--<li><a ui-sref="main.scores">Scores</a></li>--> <!--</ul>--> <!--</div>--> <!--<div class="col-sm-3">--> <!--<h4>Upcoming Events</h4>--> <!--<ul>--> <!--<li ng-repeat="event in main.upcoming">--> <!--<a href="{{event.link}}" target="_blank" ng-bind="event.Title"></a>--> <!--</li>--> <!--</ul>--> <!--</div>--> <!--<div class="col-sm-3">--> <!--<h4>About Fiji Football Live</h4>--> <!--<ul>--> <!--<li role="button"><a ui-sref="main.about">About Us</a></li>--> <!--<li role="button"><a ui-sref="main.contact">Contact Us</a></li>--> <!--<li role="button"><a ui-sref="main.useTerms">Terms of Use</a></li>--> <!--<li role="button"><a ui-sref="main.privacy">Privacy Policy</a></li>--> <!--</ul>--> <!--</div>--> <!--<div class="col-sm-2">--> <!--<h4>Follow Us</h4>--> <!--<ul>--> <!--<li><a href="https://www.youtube.com/channel/UCAxPweyl3Y5eIrRKlpwO69A"--> <!--target="_blank"><img src="../images/youtube.a9c6e7c1.png" width="70px"></a></li>--> <!--<li class="m-t-xs"><a href="https://www.facebook.com/profile.php?id=100014091720302"--> <!--target="_blank"><img src="../images/fblike.d0124a9b.png" width="70px"></a></li>--> <!--<li class="m-t-xs"><a><img src="../images/twitterfollow.2ebd53df.png" width="70px"></a></li>--> <!--</ul>--> <!--</div>--> <!--<div class="col-sm-2">--> <!--<h4>Apps</h4>--> <!--<ul>--> <!--<li><a href="https://itunes.apple.com/us/app/fiji-football-live/id1171638588?ls=1&mt=8"--> <!--target="_blank"><img src="../images/app-store-badge.93c663f5.png" width="120px"></a></li>--> <!--<li class="m-t-xs"><a href="https://play.google.com/store/apps/details?id=com.fiji.football"--> <!--target="_blank"><img src="../images/google.c3fac8d1.png" width="120px"></a></li>--> <!--</ul>--> <!--</div>--> <!--</div>-->